#App {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 20px;
    font-size: 20px;
    transition-duration: 0.4s;
}

    .button:hover {
        box-shadow: 5px 5px;
    }

body {
    background-image: url("https://images.nintendolife.com/0cb4cd2bf797b/galar.original.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 10vh;
    margin-bottom: 5vh;
}
   

#question-container {
    height: auto;
    width: 89vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 5vh;

}

#question-question-container {
    padding: 20px;
}

#question-image-container {
    width: 50vw;
    height: auto;
    padding: 20px;
}

#question-answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}